name: zutis Tests
on: [push, pull_request]
jobs:
  run_tests:
    runs-on: ubuntu-latest
    name: Build and Test
    steps:
      - uses: actions/checkout@v5
      - uses: mlugg/setup-zig@v2
        with:
          version: 0.15.1
      - run: zig build test --summary all
