name: Main CI
on:
  push:
    branches:
      - main
jobs:
  run_tests:
    strategy:
        matrix:
            os: [ubuntu-latest, windows-latest, macos-latest]
            zig_version: [0.15.1, 0.15.2]
    runs-on: ${{ matrix.os }}
    name: Build
    steps:
      - uses: actions/checkout@v5
      - uses: mlugg/setup-zig@v2
        with:
          version: ${{ matrix.zig_version }}
      - run: zig build --summary all
